<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32310">
        <setting id="appearance.alt" type="action" label="32311" default="-" option="close"
                 action="RunPlugin(plugin://plugin.video.fanfilm/?action=artwork)" visible="false"/>
        <setting id="appearance.1" type="select" label="32311" values="Incursion|IncursionGrey|GOne" default="Incursion"
                 visible="System.HasAddon(script.fanfilm.media)"/>
        <setting id="scrapers.timeout.1" type="slider" label="32312" default="45" range="10,60" option="int"/>
        <setting id="ladowanie" type="bool" label="Okno Ładowania" default="true"/>
        <setting id="trakt.user" type="text" default="" visible="false"/>
        <setting id="indicators.alt" type="enum" label="32313" lvalues="32314|32315" default="1" visible="!eq(-1,)"/>
        <setting id="indicators" type="enum" label="32313" lvalues="32314" default="0" visible="eq(-2,)"/>
        <setting id="api.language" type="select" label="32316"
                 values="AUTO|Bulgarian|Chinese|Croatian|Czech|Danish|Dutch|English|Finnish|French|German|Greek|Hebrew|Hungarian|Italian|Japanese|Korean|Norwegian|Polish|Portuguese|Romanian|Russian|Serbian|Slovak|Slovenian|Spanish|Swedish|Thai|Turkish|Ukrainian"
                 default="AUTO"/>
        <setting id="providers.lang" type="select" label="32360" values="English|Polish|Polish+English"
                 default="Polish"/>
        <setting id="flatten.tvshows" type="bool" label="32317" default="false"/>
        <setting id="fanart" type="bool" label="32318" default="true"/>
        <setting id="showunaired" type="bool" label="32570" default="true"/>
        <setting id="hidecinema" type="bool" label="32571" default="false"/>
        <setting id="hidecinema.rollback" type="slider" label="32634" enable="eq(-1,true)" default="6" range="1,12" option="int" />
        <setting id="lists.count" type="slider" label="Ilość pozycji jednorazowo na liście filmów" default="40" range="10,5,40" option="int"/>
        <setting type="lsep" label="32319"/>
        <setting id="movie.widget" type="enum" label="32320" lvalues="32302|32321|32322|32323|32324|32580" default="1"/>
        <setting id="tv.widget.alt" type="enum" label="32325" lvalues="32302|32326|32327|32328" default="2"
                 visible="!eq(-11,)"/>
        <setting id="tv.widget" type="enum" label="32325" lvalues="32302|32326" default="1" visible="eq(-12,)"/>
        <setting id="prgr.sortorder" type="enum" label="32585" lvalues="32585|32586" default="1" visible="!eq(-13,)"/>
        <setting id="lists.widget" type="enum" label="32329" lvalues="32302|32301" default="1"/>
        <setting type="lsep" label="32625"/>
        <setting id="movies.sort" type="enum" label="32626" lvalues="32628|32629" default="0"/>
        <setting id="tvshows.sort" type="enum" label="32627" lvalues="32628|32629" default="0"/>
        <setting type="lsep" label="32615"/>
        <setting id="autoTraktOnStart" type="bool" label="32616" default="False"/>
        <setting id="schedTraktTime" type="slider" label="32613" default="0" range="0,24" option="int"/>
        <setting type="lsep" label="32617"/>
        <setting type="lsep" label="Automatyczne czyszczenie cache"/>
        <setting id="autoCleanCache" type="bool" label="Automatycznie czyść cache przy starcie" default="false"/>
        <setting id="schedCleanCache" type="slider" label="Czyść cache co ... godzin" default="0" range="0,24" option="int"/>
        <setting type="lsep" label="32617"/>
    </category>
    <category label="32330">
        <setting id="hosts.mode" type="enum" label="32331" lvalues="32332|32333|32334" default="1"/>
        <setting id="progress.dialog" type="enum" label="32335" lvalues="32336|32337" default="0"/>
        <setting id="prem.identify" type="enum" label="32588"
                 lvalues="32589|32590|32591|32592|32593|32594|32595|32596|32597|32598" default="0"/>
        <setting id="enableSourceCache" type="bool" label="Cache źródeł" default="True"/>
        <setting id="preemptive.termination" type="bool" label="32618" default="False"/>
        <setting id="preemptive.limit" type="slider" label="32619" default="10" range="1,50" option="int"/>
        <setting type="lsep" label="32338"/>
        <setting id="hosts.quality" type="enum" label="32339" values="4K|1440p|1080p|720p|480p" default="0"/>
        <setting id="autoplay.sd" type="bool" label="32340" default="false"/>
        <setting id="autoplay" type="bool" label="Autoodtwarzanie następnego odcinka serialu" default="false"/>
        <setting id="sources.extrainfo" type="bool" label="32587" default="true"/>
        <setting id="HEVC" type="bool" label="32363" default="true" visible="false"/>
        <setting id="hosts.captcha" type="bool" label="32341" default="true"/>
        <setting id="hosts.sort" type="enum" label="32622" lvalues="32624|32623" default="0"/>
        <setting id="debrid.only" type="bool" label="32614" default="false"/>
        <setting type="lsep" label="32343"/>
        <setting id="bookmarks" type="bool" label="32344" default="true"/>
        <setting type="lsep" label="32372"/>
        <setting id="crefresh" type="bool" label="32373" default="false"/>
    </category>
    <category label="32345">
        <setting label="Polish" type="lsep"/>
        <setting id="provider.3ksodus" type="bool" label="3ksodus" default="true"/>
        <setting id="provider.animezone" type="bool" label="AnimeZone" default="true"/>
        <setting id="provider.cdahd" type="bool" label="CdaHD" default="true"/>
        <setting id="provider.cdapl" type="bool" label="CdaPL" default="true"/>
        <setting id="provider.cdatv" type="bool" label="CDA-TV" default="true"/>
        <setting id="provider.dudeplayer" type="bool" label="Dudeplayer.com" default="true"/>
        <setting id="provider.ekinomaniak" type="bool" label="Ekinomaniak" default="true"/>
        <setting id="provider.ekinotv" type="bool" label="Ekinotv" default="true"/>
        <setting id="provider.filman" type="bool" label="Filman" default="true"/>
        <setting id="provider.govodtv" type="bool" label="GoVodTV" default="true"/>
        <setting id="provider.filmwebbooster" type="bool" label="FilmwebBooster" default="true"/>
        <setting id="provider.hdseans" type="bool" label="hdseans" default="true"/>
        <setting id="provider.iitv" type="bool" label="Iitv" default="true"/>
        <setting id="provider.ogladajto" type="bool" label="Ogladaj.to" default="true"/>
        <setting id="provider.serialeco" type="bool" label="SerialeCO" default="true"/>
        <setting id="provider.shinden" type="bool" label="Shinden" default="true"/>
        <setting id="provider.tb7" type="bool" label="Tb7" default="false"/>
        <setting id="provider.xt7" type="bool" label="Xt7" default="false"/>
        <setting id="provider.szukajkatv" type="bool" label="SzukajkaTV" default="true"/>
        <setting id="provider.zaluknij" type="bool" label="Zaluknij" default="true"/>
        <setting label="English" type="lsep"/>
        <setting type="sep"/>
        <setting id="provider.123moviesfree" type="bool" label="123moviesfree" default="true"/>
        <setting id="provider.123movieshubz" type="bool" label="123movieshubz" default="true"/>
        <setting id="provider.123123movies" type="bool" label="123123movies" default="true"/>
        <setting id="provider.azmovie" type="bool" label="azmovie" default="true"/>
        <setting id="provider.cmovieshd" type="bool" label="cmovieshd" default="true"/>
        <setting id="provider.extramovies" type="bool" label="extramovies" default="true"/>
        <setting id="provider.fmovies" type="bool" label="fmovies" default="true"/>
        <setting id="provider.fmoviesio" type="bool" label="fmoviesio" default="true"/>
        <setting id="provider.freefmovies" type="bool" label="freefmovies" default="true"/>
        <setting id="provider.freeputlockers" type="bool" label="freeputlockers" default="true"/>
        <setting id="provider.gowatchseries" type="bool" label="gowatchseries" default="true"/>
        <setting id="provider.hdmto" type="bool" label="hdmto" default="true"/>
        <setting id="provider.hdpopcorns" type="bool" label="hdpopcorns" default="true"/>
        <setting id="provider.iwatch" type="bool" label="iwatch" default="true"/>
        <setting id="provider.movies123" type="bool" label="movies123" default="true"/>
        <setting id="provider.myhdpopcorn" type="bool" label="myhdpopcorn" default="true"/>
        <setting id="provider.putlocker" type="bool" label="PUTLOCKER" default="true"/>
		<setting id="provider.putlockers" type="bool" label="PUTLOCKER" default="true"/>
        <setting id="provider.seriesonline" type="bool" label="SERIESONLINE" default="true"/>
        <setting id="provider.solarmoviefree" type="bool" label="SOLARMOVIEFREE" default="true"/>
        <setting id="provider.timewatch" type="bool" label="TIMEWATCH" default="true"/>
        <setting id="provider.vdonip" type="bool" label="VDONIP" default="true"/>
    </category>
    <category label="32346">
        <setting type="sep"/>
        <setting id="addon.version" type="text" label="Wersja wtyczki" default="" enable="false"/>
        <setting id="reset.keys" type="bool" label="Resetuj klucze do domyślnych po każdej aktualizacji" default="true"/>
        <setting type="sep"/>
        <setting type="lsep" label="hdseans.pl"/>
        <setting type="text" label="32610"/>
        <setting id="hdseans.username" type="text" label="hdseans email" default=""/>
        <setting id="hdseans.password" type="text" option="hidden" label="hdseans password" default=""/>
        <setting type="sep"/>
        <setting type="lsep" label="tb7.pl"/>
        <setting type="text" label="32610"/>
        <setting id="tb7.username" type="text" label="tb7 Login" default=""/>
        <setting id="tb7.password" type="text" option="hidden" label="tb7 Hasło" default=""/>
        <setting id="autotb7" type="bool" label="Automatyczne wykorzystywanie transferu" default="false"/>
        <setting type="sep"/>
        <setting type="lsep" label="xt7.pl"/>
        <setting type="text" label="32610"/>
        <setting id="xt7.username" type="text" label="xt7 Login" default=""/>
        <setting id="xt7.password" type="text" option="hidden" label="xt7 Hasło" default=""/>
        <setting id="autoxt7" type="bool" label="Automatyczne wykorzystywanie transferu" default="false"/>
        <setting type="sep"/>
        <setting type="lsep" label="Shinden"/>
        <setting id="shinden.username" type="text" label="Login Shinden" default=""/>
        <setting id="shinden.password" type="text" option="hidden" label="Haslo Shinden" default=""/>
        <setting type="sep"/>
        <setting type="lsep" label="Własne klucze"/>
        <setting type="text" label="Zmiana poniższych wartości może spowodować błędne działanie wtyczki"/>
        <setting id="own_keys" type="bool" label="Zmiana domyślnych kluczy" default="false"/>
        <setting id="fanart.tv.user" type="text" label="Fanart User Key" default="973400e4e8b1fcbae5aa417ed932efc5" visible="eq(-1,true)" subsetting="true"/>
        <setting id="fanart.tv.dev" type="text" label="Fanart Dev Key" default="9d5002e9449ce8ffb81a7cf258a2ad91" visible="eq(-2,true)" subsetting="true"/>
        <setting id="tm.user" type="text" label="TMDb API Key" default="448c1bb435906c402c3c1e03f9231992" visible="eq(-3,true)" subsetting="true"/>
        <setting id="TVDb_ApiKey" type="text" label="TVDb API Key" default="690382e8f9bc67bdaf676abcc649c561" visible="eq(-4,true)" subsetting="true"/>
        <setting id="TVDb_UserKey" type="text" label="TVDb User Key" default="5E1E1B61643CA5.99327646" visible="eq(-5,true)" subsetting="true"/>
        <setting id="TVDb_Username" type="text" label="TVDb Username" default="fanfilm" visible="eq(-6,true)" subsetting="true"/>
        <setting id="trakt.user" type="action" visible="false" label="32306" option="close"
                 action="RunPlugin(plugin://plugin.video.fanfilm/?action=authTrakt)"/>
        <setting id="trakt.token" type="text" visible="false" label="" default=""/>
        <setting id="trakt.refresh" type="text" visible="false" label="" default=""/>
        <setting type="sep"/>
        <setting type="lsep" label="IMDb"/>
        <setting id="imdb.user" type="text" label="32303" default=""/>
        <setting type="sep"/>
        <setting type="lsep" label="32538"/>
        <setting type="lsep" label="32539"/>
        <setting id="open_smu_settings" type="action" label="32540" enable="true" option="close"
                 action="RunPlugin(plugin://plugin.video.fanfilm/?action=smuSettings)"/>
        <setting type="sep"/>
        <setting type="lsep" label="Moviesplanet.is"/>
        <setting id="moviesplanet.user" type="text" label="32303" default=""/>
        <setting id="moviesplanet.pass" type="text" option="hidden" label="32307" default=""/>
        <setting type="sep"/>
        <setting type="lsep" label="Streamlord.com"/>
        <setting id="streamlord.user" type="text" label="32303" default=""/>
        <setting id="streamlord.pass" type="text" option="hidden" label="32307" default=""/>
        <setting type="sep"/>
        <setting type="lsep" label="Ororo.tv"/>
        <setting id="ororo.user" type="text" label="32304" default=""/>
        <setting id="ororo.pass" type="text" option="hidden" label="32307" default=""/>
        <setting type="sep"/>
        <setting type="lsep" label="SerienStream.to"/>
        <setting id="serienstream.user" type="text" label="32304" default=""/>
        <setting id="serienstream.pass" type="text" option="hidden" label="32307" default=""/>
        <setting type="sep"/>
        <setting type="lsep" label="Seriesever.net"/>
        <setting id="seriesever.user" type="text" label="32303" default=""/>
        <setting id="seriesever.pass" type="text" option="hidden" label="32307" default=""/>
        <setting type="sep"/>
        <setting type="lsep" label="ALLUC"/>
        <setting id="alluc.api" type="text" label="32309" default=""/>
        <setting id="alluc.limit" type="labelenum" label="32581" default="100"
                 values="10|20|30|40|50|60|70|80|90|100|150|200"/>
        <setting id="alluc.download" type="bool" label="32009" default="false"/>
        <setting type="sep"/>
        <setting type="lsep" label="Chillax.ws"/>
        <setting type="lsep" label="Security Warning: Chillax does not use SSL"/>
        <setting type="lsep" label="Your login details are not protected"/>
        <setting id="chillax.username" type="text" label="32303" default=""/>
        <setting id="chillax.password" type="text" option="hidden" label="32307" default=""/>
        <setting type="sep"/>
        <setting type="lsep" label="Furk.net"/>
        <setting id="furk.user_name" type="text" label="Furk Username" default=""/>
        <setting id="furk.user_pass" type="text" label="Furk Password" option="hidden" default=""/>
        <setting id="furk.api" type="text" label="Furk API Key" default=""/>
        <setting id="furk.mod.level" type="labelenum" label="Set Furk Moderation Level" default="Yes"
                 values="No|Yes|Full"/>
        <setting id="furk.limit" label="Limit results" type="slider" default="25" range="5,5,200" option="int"/>
    </category>
       
    <category label="IMDb listy filmów">
        <setting type="text" label="Przykład ID: https://m.imdb.com/list/[B]ls002448041[/B]/ (ls002448041)" enable="false" />
        <setting type="lsep" label="Lista 1"/>
        <setting id="imdb.movielist_name1" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.movielist_id1" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 2"/>
        <setting id="imdb.movielist_name2" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.movielist_id2" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 3"/>
        <setting id="imdb.movielist_name3" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.movielist_id3" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 4"/>
        <setting id="imdb.movielist_name4" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.movielist_id4" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 5"/>
        <setting id="imdb.movielist_name5" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.movielist_id5" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 6"/>
        <setting id="imdb.movielist_name6" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.movielist_id6" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 7"/>
        <setting id="imdb.movielist_name7" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.movielist_id7" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 8"/>
        <setting id="imdb.movielist_name8" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.movielist_id8" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 9"/>
        <setting id="imdb.movielist_name9" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.movielist_id9" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 10"/>
        <setting id="imdb.movielist_name10" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.movielist_id10" type="text" label="List ID" default="" visible="true"/>
    </category>
    
        <category label="IMDb listy seriali">
        <setting type="text" label="Przykład ID: https://m.imdb.com/list/[B]ls002448041[/B]/ (ls002448041)" enable="false" />
        <setting type="lsep" label="Lista 1"/>
        <setting id="imdb.tvlist_name1" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.tvlist_id1" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 2"/>
        <setting id="imdb.tvlist_name2" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.tvlist_id2" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 3"/>
        <setting id="imdb.tvlist_name3" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.tvlist_id3" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 4"/>
        <setting id="imdb.tvlist_name4" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.tvlist_id4" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 5"/>
        <setting id="imdb.tvlist_name5" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.tvlist_id5" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 6"/>
        <setting id="imdb.tvlist_name6" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.tvlist_id6" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 7"/>
        <setting id="imdb.tvlist_name7" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.tvlist_id7" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 8"/>
        <setting id="imdb.tvlist_name8" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.tvlist_id8" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 9"/>
        <setting id="imdb.tvlist_name9" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.tvlist_id9" type="text" label="ID" default="" visible="true"/>
        <setting type="lsep" label="Lista 10"/>
        <setting id="imdb.tvlist_name10" type="text" label="Nazwa listy" default="" visible="true"/>
        <setting id="imdb.tvlist_id10" type="text" label="ID" default="" visible="true"/>
    </category>

    <category label="32541">
        <setting id="library.movie" type="folder" label="32543"
                 default="special://userdata/addon_data/plugin.video.fanfilm/Movies"/>
        <setting id="library.tv" type="folder" label="32544"
                 default="special://userdata/addon_data/plugin.video.fanfilm/TVShows"/>
        <setting type="lsep" label="32542"/>
        <setting type="sep"/>
        <setting id="library.service.update" type="bool" label="32545" default="true"/>
        <setting id="library.service.notification" type="bool" label="32546" default="true"/>
        <setting type="sep"/>
        <setting id="library.update" type="bool" label="32547" default="true"/>
        <setting id="library.check" type="bool" label="32548" default="true"/>
        <setting type="sep"/>
        <setting id="library.check_movie" type="bool" label="32549" default="false"/>
        <setting id="library.check_episode" type="bool" label="32550" default="false"/>
        <setting id="library.include_unknown" type="bool" label="32565" default="true"/>
    </category>
    <category label="32347">
        <setting id="downloads" type="bool" label="32348" default="false"/>
        <setting type="sep"/>
        <setting id="movie.download.path" type="folder" label="32349" enable="!eq(-2,false)" default=""/>
        <setting id="tv.download.path" type="folder" label="32350" enable="!eq(-3,false)" default=""/>
        <setting type="lsep" label="[CR]"/>
        <setting type="lsep" label="32351"/>
        <setting type="lsep" label="32352"/>
    </category>
    <category label="32353">
        <setting id="subtitles" type="bool" label="32354" default="false"/>
        <setting type="sep"/>
        <setting id="subtitles.utf" type="bool" label="32355" enable="!eq(-2,false)" default="false"/>
        <setting type="sep"/>
        <setting id="subtitles.lang.1" type="select" label="32356"
                 values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"
                 enable="!eq(-4,false)" default="English"/>
        <setting id="subtitles.lang.2" type="select" label="32357"
                 values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"
                 enable="!eq(-5,false)" default="English"/>
        <setting type="lsep" label="[CR]"/>
        <setting type="lsep" label="32358"/>
        <setting type="lsep" label="32359"/>
    </category>
</settings>

